body{
    background-color: rgb(71, 58, 58);
}


.board{
    display: inline-grid;
    grid-template-rows: repeat(8,100px);
    grid-template-columns: repeat(8,100px);
}


.square{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.PIECE{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.circle{

  
    height: 50px;
    width: 50px;
    background-color: #bbb;

    
}

.WHITE, .BLACK{
    font-size: 200%;
    text-align: center;
}

.WHITE{
    color:lightblue;
}
/* 
.square:nth-child(2n){
    background-color: rgba(169, 169, 169, 0.432);
}


.square:nth-child(2n+1){
    background-color: rgb(169, 169, 169);
}
 */
